.cover-title {
  color: #3C3C3B;
}

.contact-info {
  color: gray;
  margin-top: 90% !important;
  font-size: 50% !important;
}

.contact-element {
  margin-top: 10px !important;
}

body {
  background: #EEE;
  background-color: #EEE;
}
